html {
    width: 100vw;
    height: 100vh;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    background: #222;
    color: white;
}

.nome {
    font-weight: bolder;
    color: #7FFF00;
}

span {
    font-size: 20px;
}

.position {
    position: absolute;
    bottom: 0;
}

.position2 {
    position: absolute;
    top: 0;
}

.info label {
    font-size: 15px;
}

.info span {
    font-size: 15px;
}